@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .1s ease-in;
}

.container {
    width: 100%;
    font-family: 'Raleway', sans-serif;
}
.cahee-box {
    min-width: 320px;
}

.cahee-box__banner {
    background-image: url(../images/klubnika.png);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-width: 320px;
    height: 500px;
    margin-bottom: -90px;
}

.cahee-box__nav {
    width: 100%;
    height: 125px;
    display: flex;
    flex-direction: column;
    position: fixed;
    color: #262626;
    z-index: 100;
    background: linear-gradient(
        to bottom,
        rgb(255, 255, 255, 1.0) 80%,
        rgba(240, 239, 239, 0.3) 90%,
        rgba(228, 228, 228, 0.01) 100%
        );
}

.nav__logo {
    min-width: 320px;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    text-align: center;
}

.nav__menu {
    width: 280px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-weight: 700;
    font-size: 12px;
    list-style-type: none;
    text-align: center;
    margin: auto;
}

.nav__menu__item {
    padding-top: 3px;
    width: 90px;
    text-align: center;
}

.nav__menu__item a {
    padding: 3px;
    text-decoration: none;
    color: #262626;
}

.nav__menu__item a:hover {
    border-bottom: 3px solid #FF6033;
}

.cahee-box__banner_text {
    width: 280px;
    height: 280px;
    font-size: 16px;
    text-align: center;
    color: #262626;  
    display: flex; 
    flex-direction: column;
    justify-content: space-around; 
    margin: auto;
    margin-top: 150px;
    z-index: 1;
}

h1 { 
    color:#262626;
    font-size:40px;
    font-weight: 900;
    margin-bottom: 18px;
}

.cahee-box__banner_batton {
    background: #FF6033;
    color: #ffffff;
    width: 200px;
    height: 55px;
    text-align: center;
    box-shadow: 0 0 5px #000000;
    padding-top: 18px; 
    margin: auto;
}

.cahee-box__banner_batton:hover {
    background: #fd4f1f;
    cursor: pointer;
    border-radius: 4px;
    font-size: 18px;
    padding-top: 16px;
}

.cahee-box__banner_batton:active {
    background: #FF6033;
    font-size: 16px;
    padding-top: 18px;
}

.cahee-box__about-us {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 750px;
    margin: auto;
    background: #00BABA;
    align-items: center;
    z-index: 5;
}

.cahee-box__about-us_img {
    width: 300px;
    height: 300px;
    background-image: url(../images/malina.png);
    background-position: center;
    background-size: cover;
    margin-top: 70px;
}

.cahee-box__about-us_text {
    width: 280px;
    height: 300px;
    color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cahee-box__about-us_text h2 {
    font-size: 50px;
}

.cahee-box__about-us_text p {
    font-size: 17px;
}

.blog {
    background: #B07CF7;
    min-width: 320px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    font-family: 'Raleway', sans-serif;
    color: #ffffff; 
}

.blog-title {
    margin: auto;
    opacity: 1;
    font-size :90px;
    padding-bottom: 30px;

}

.blog-title + p {
    display: block;
    width: 280px;
    margin: auto;
    opacity: 0.9;
    font-size: 17px;
    font-weight: 300;
    padding-bottom: 46px;
    text-align: center;
}

.blog-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;

}

.blog-content__card {
    width: 280px;
    height: 311px;
    position: relative;
    background-size: cover;
    padding-bottom: 23px; 
    margin: auto;
    margin-bottom: 10px;
}

#frst {
    background: linear-gradient(
        to bottom,
        rgba(249, 249, 249, 0) 0%,
        rgba(132, 129, 132, 0.01724439775910369) 58%,
        rgba(8, 7, 8, 0.7203256302521008) 100%
      ),
      url(../images/glass.png) no-repeat center;
}

#scnd {
    background: linear-gradient(
        to bottom,
        rgba(249, 249, 249, 0) 0%,
        rgba(132, 129, 132, 0.01724439775910369) 58%,
        rgba(8, 7, 8, 0.7203256302521008) 100%
      ),
      url(../images/soup.png) no-repeat center;
}

#thrst {
    background: linear-gradient(
        to bottom,
        rgba(249, 249, 249, 0) 0%,
        rgba(132, 129, 132, 0.01724439775910369) 58%,
        rgba(8, 7, 8, 0.7203256302521008) 100%
      ),
      url(../images/berries.png) no-repeat center;
}

.date {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 30px;
    top: 30px;
    width: 61px;
    height: 61px;
    background: #000;
    opacity: 0.6;
    font-size: 21px;
    font-weight: bold;
    text-align: center; 
    border-radius: 6px;
}

.number {
    font-size: 32px;
}

.blog-content__card_info {
    position: absolute;
    width: 200px;
    height: 100px;
    left: 20px;
    top: 190px;
    font-size: 20px;
    font-weight: bold;
    opacity: 0.9;
}

.blog-content__card_info :nth-child(2) {
    font-size: 12px;
    font-weight: normal;
    opacity: 0.7;
    padding-top: 16px;
}

.batton-wrap {
    margin: auto;
    padding-top: 10px;
    padding-bottom: 50px;
}

.batton {
    margin: auto;
    width: 280px;
    height: 56px;
    background: #F72B3B;
    font-size: 20px;
    text-align: center;
    padding-top: 18px;
    box-shadow: 0 0 5px #000000;
    border-radius: 4px;
}

.contact {
    min-width: 320px;
    height: 750px;
    background-image: url(../images/footer_bg.png);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 100px;
}

.contact h2 {
    font-size: 50px;
    margin: auto;
}

.contact__text {
    margin: auto;
    width: 280px;
    text-align: center;
    font-size: 17px;
}

.contact__form {
    width: 280px;
    height: 400px; 
    margin: auto;  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color:#262626
}


.input__item {
    width: 280px;
    height: 30px;
    padding-left: 10px;
    margin-bottom: 10px;
    background: #64D1D5;
    border-style: none;
    outline:none;
    border-left: 4px solid;
    border-left-color: transparent;
    color: #ffffff;
    font-size: 15px;
}

.input__item::placeholder {
    color: #ffffff;
    opacity: 0.7;
}


.input__item:active,
.input__item:hover {
    background: #00C4C4;
    border-left: 4px solid #355B82;
    font-weight: bold;
}

.massage {
    height: 150px;
}

.contact__form_contacts {
    margin: auto;
    text-align: center;
    font-size: 17px;
}

.contact__footer {
    min-width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    color: #ffffff;
    align-items: center;
    text-align: center;
    padding-top: 10px;
    position: fixed;
    bottom: 0;
    z-index: 99;
    background: linear-gradient(
        to top,
        rgb(0, 0, 0) 70%,
        rgba(60, 75, 51, 0.3) 85%,
        rgba(40, 56, 33, 0.01) 100%
        );

}

.contact__footer_logo {
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    padding: 20px;
}

#color {
    color: #FF2B58;
}

